/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,400i,500,700,900');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    body{
     background-color: #091028;
     font-family: 'Roboto', sans-serif;
    }

/*Header For Main Pages*/
    header{
    }

    .main_nav_text{
     width: 100%;
     height: 89px;
     background-color: #0B1337;
    }

    .main_nav_text ul {
     list-style-type: none;
     margin-top: 0;
     margin-left: 100px;
     margin-right: 100px;
     margin-bottom: auto;
     padding: 0;
    }

    .main_nav_text li a{
     display:block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     margin-top: 5px;
     margin-bottom: 0px;
     font-size: 24px;
     font-weight: 400;
    }

    .main_nav_text li a:hover {
     color: #E83D4D;
    }

    .main_nav_logo_section{
      display: flex;
      width: 100%;
      height: auto;
      margin-top: -5px;
    }

    .left_bar{
     width: 480px;
     height: 11px;
     float: left;
     background-color: #E83D4D;
    }

    .main_logo {
      width:33%;
      height:132px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -60px auto 0 auto;
    }

    .right_bar{
     width: 480px;
     height: 11px;
     float: right;
     background-color: #E83D4D;
    }

/*Header For Info Sub Pages*/
 .info_nav {
   width: 100%;
   height: 70px;
   background-color: #0D1738;
   margin-top: -67px;
   margin-bottom:0px;
   padding-top: 35px;
   padding-bottom: 0px;
 }

    .info_nav_text ul {
     list-style-type: none;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0;
    }

    .info_nav_text li{
      margin: 0 auto;
    }

    .info_nav_text li p{
     display:block;
     color: #E83D4D;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     margin-top: 5px;
     margin-bottom: 0px;
     font-size: 24px;
     font-weight: 800;
    }

    .info_nav_text li a{
     display:block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     margin-top: 5px;
     margin-bottom: 0px;
     font-size: 24px;
     font-weight: 400;
    }

    .info_nav_text li a:hover {
     color: #E83D4D;
    }


/*Hero Section*/
.hero_section{
  width: 100%;
  height: 100%;
  margin: 0 auto -65px auto;
}

/*Video For Hero Section*/
#main_video {
  position: relative;
  margin-top:-130px;
  margin-bottom:-50px;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*main content index.html*/
section.main_content {
  width: 100%;
  height: auto;
}

.learn_more{
  width:100%;
  height:auto;
  background-color: #0D1738;
}

.learn_more_text{
  width:75%;
  height:auto;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

  .learn_more h1{
    font-size: 72px;
  }

  .learn_more h2{
    font-size: 36px;
    line-height: normal;
  }

  .learn_more p{
    font-size: 18px;
    line-height: normal;
  }

    .learn_more button{
      margin: 40px auto 40px auto;
      width: 344px;
      height: 76px;
      border-radius: 25px;
      border-color: #E83D4D;
      background: #E83D4D;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: normal;
      color: white;
    }

.conference_info {
  width:100%;
  height:auto;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}
  .passes{
    display:flex;
  }

  .speakers{
    display: flex;
  }

    .main_content_boxes{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 40px auto 40px;
      width: 345px;
      height: 434px;
      background-color: #0D1738;
      border-radius: 50px;
    }

    .main_content_box_header,
    .main_content_box_header_img {
      position: relative;
      top: -80px;
      width: auto;
      height: auto;
      margin: 0 auto;
      font-size: 36px;
      font-weight: 400;
    }

    .main_content_box_header_img {
      top: -25px;
    }

    .main_content_box_buttons,
    .main_content_box_buttons_speaker {
      position: relative;
      bottom: -80px;
      width: 199px;
      height: 76px;
      margin: 0 auto 0 auto;
      font-size: 30px;
      font-weight: 400;
      color: #fff;
      background-color: #E83D4D;
      border-radius: 20px;
      border-color: #E83D4D;
    }

    .main_content_box_buttons_speaker{
      font-size: 25px;
      bottom: -25px;
    }

    .main_content_box_img{
      width:223px;
      height:223px;
      border-radius: 30px;
      border-color: none;
    }

    .main_content_button,
    .main_content_button_speaker{
      margin: 0 auto;
      width: 344px;
      height: 76px;
      border-radius: 25px;
      border-color: #E83D4D;
      background-color: #E83D4D;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: normal;
      color: white;
    }

    .main_content_button_speaker{
      margin: 0 auto 40px auto;
    }

/*Main Content Speakers*/
  .speakers_main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .speakers_flex{
    margin: 29px;

  }
  
  #speakers_flex_1,
  #speakers_flex_2,
  #speakers_flex_3,
  #speakers_flex_4,
  #speakers_flex_5,
  #speakers_flex_6,
  #speakers_flex_7,
  #speakers_flex_8,
  #speakers_flex_9,
  #speakers_flex_10,
  #speakers_flex_11,
  #speakers_flex_12,
  #speakers_flex_13,
  #speakers_flex_14,
  #speakers_flex_15,
  #speakers_flex_16,
  #speakers_flex_17,
  #speakers_flex_18,
  #speakers_flex_19,
  #speakers_flex_20,
  #speakers_flex_21,
  #speakers_flex_22,{

  }

  .speakers_flex_img{
    width: 247px;
    height: 247px;
    border-radius: 50%;

  }

  /*Modal*/
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Footer*/
footer{
  background-color: black;
  width: 100%;
  height: 282px;
  color: white;
  display: flex;
}

.footer_flex {
  background-color: black;
  width: 100%;
  height: 282px;
  color: white;
  display: flex;
}

  .footer_sitemap{
    margin-left: 50px;
    width: 33%;
    height: 200px;
  }

      .footer_sitemap ul{
          width:210px;
          list-style-type: none;
          margin-left: -40px;
      }

      .footer_sitemap li{
          float:left;
          height:15px;
          margin:0 0 10px 0;
          width:90px;
      }
      .footer_sitemap li:nth-child(even){
          margin-right:0;
      }

  .footer_contact{
     text-align: center;
     margin: 0 auto;
     width: 33%;
     height: 200px;
  }

  .social_media{
    float:right;
    text-align: right;
    width: 33%;
    height: 200px;
    margin-right: 50px;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
